.cutsomautocomplete {
    /*min-height: 50px !important;*/
    max-height: 300px !important;
    height: auto !important;
    padding-bottom: 1px;
    height: 300px;
    overflow: auto;
    // display: block !important;
}

.ui-autocomplete.ui-widget {
    font-family: 'Lato', sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-size: 12px;
}

.ui-menu-item {
margin: 12px;
.gblSearch{
    position: relative;
    top: -6px;
    left: 5px;
}
}

.ui-menu{
    .ui-menu-item-wrapper{
        padding: 7px 1em 7px .4em;
    }
}

.ui-autocomplete .ui-state-active {
    // color: #0073ea !important;
    color: #607d8b;
    width: 100%;
    background: #e9e9e9;
    font-size: larger;
}

span.menuBgIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    margin-left: 10px
}