.enableExpandCollapse{
    &.compressedModeUI{
        section.content{
            .appBackBtn{
                top: 74px;
                left: -8px;
            }
        }
        &.overlay-open{
            section.content {
                margin: 75px 5px 0px 305px;
                .row{
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12{
                        padding-right: 0px;
                        padding-left: 0px;
                    }
                }
                .appBackBtn{
                    top: 74px;
                    left: 292px;
                }
            }
        }
    }
}

.compressedModeUI{
    section.content{
        margin: 75px 5px 5px 5px;
        .row{
            .col-lg-12.col-md-12.col-sm-12.col-xs-12{
                padding-right: 0px;
                padding-left: 0px;
            }
        }
        .appBackBtn{
            top: 74px;
            left: -8px;
        }
    }
    .splitter-wrapper{
        margin: 0px;
        height: calc(100vh - 80px);
    }
}