﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="excelweb.aspx.vb" Inherits="excelweb" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8">
    <meta name="description" content="Wxcel Web">
    <meta name="keywords" content="Agile Cloud, Axpert,HMS,BIZAPP,ERP">
    <meta name="author" content="Agile Labs">
    <title>Excel</title>
    <link href="../Css/globalPrintFont.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
