﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WordView.aspx.cs" Inherits="aspx_WordView" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8">
    <meta name="description" content="Axpert file uploader">
    <meta name="keywords" content="Agile Cloud, Axpert,HMS,BIZAPP,ERP">
    <meta name="author" content="Agile Labs">
    <title>Word View</title>
    <link href="../Css/globalStyles.min.css?v=16" rel="stylesheet" />
    <link href="../Css/globalPrintFont.min.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div>
            </div>
        </div>
    </form>
</body>
</html>
