html,
body {
    overflow: hidden;
    box-sizing: border-box;
}

div#HPBdesignerCanvas {
    padding: 0px;
    height: 100%;
    overflow: auto;
}

#hpbDsgnrcnvsWrapper {
    height: calc(100vh - 0px);
    overflow: auto;
    overflow-x: hidden;
}

.hpbHeaderTitle {
    padding: 5px 5px 0px 5px;
    height:40px;
}
.hpbHeaderTitle .icon-document{position: relative;top: 6px;}
.hpbHeaderTitle .title{top:4px !important;}
.hpbHeaderTitle span[class^="icon-"] {
    font-size: 18px;
}

.hpbHeaderTitle span.title {
    position: relative;
    top: -3px;
    font-size: 13px;
}




.clear {
    clear: both !important;
}


#hpbDsgnrcnvsWrapper .btn-floating.halfway-fab {
    position: absolute;
    right: -30px;
    bottom: -16px;
}

div#sortable {
    margin: 0px;
    min-height: 200px;
}

button.noBg {
    background: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    outline: 0;
}

button.cardTitleClear i {
    color: #676767;
    line-height: 0;
    position: relative;
    top: -3px;
    font-size: 15px;
}

button.cardTitleClear {
    color: black;
    width: 30px;
    height: 30px;
}

.cardTitleWrapper {
    background: #e6e6e6;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cardTitleWrapper .cardTitle {
    position: relative;
    top: 4px;
    display: inline-block;
    width: calc(100% - 60px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
}

.cardTitleWrapper i {
    font-size: inherit;
    position: relative;
    top: 1px;
}
.btextDir-rtl .cardTitleWrapper span:nth-child(1){
    float:right !important;
}
.btextDir-rtl .cardTitleWrapper span:nth-child(2){
     text-align: right!important;
    display: block;
    top: -19px !important;
    right: 25px;
}
.cardTitleWrapper {
    padding: 3px;
    padding-left: 5px;
    height: 35px;
}

.iviewSmallShot td,
.iviewSmallShot th {
    border: 1px solid #b5b5b5;
    padding: 2px 4px;
    border-radius: 0 !important;
}


/* .iviewSmallShot {
    margin-top: -9px;
} */

#hpbDsgnrcnvsWrapper .card-image {
    height: 50%;
    overflow: hidden;
    /* padding: 10px 20px; */
}

.fixed-action-btn {
    position: absolute;
    bottom: 0px;
}

ul.floatingBtnMenu {
    text-align: right;
    bottom: 24px;
    left: -93px;
}

#hpbDsgnrcnvsWrapper .card-content,
#hpbDsgnrcnvsWrapper .card-content .card-content.smallKpi {
    height: 100%;
    overflow: hidden;
    padding: 10px;
    /* transition: height 0.3s ease-in-out; */
}

#hpbDsgnrcnvsWrapper .card-content.widget {
    padding: 0px;
    /* transition: height 0.3s ease-in-out; */
}

#hpbDsgnrcnvsWrapper .card-content.titleRemoved,
#hpbDsgnrcnvsWrapper .card-content.titleRemoved .card-content.smallKpi {
    height: 100%;
    /* transition: height 0.3s ease-in-out; */
}

#hpbDsgnrcnvsWrapper .card-content.imgCard {
    height: 50%;
    overflow: auto;
    padding-top: 10px;
    /* transition: height 0.3s ease-in-out; */
}

#hpbDsgnrcnvsWrapper .card-content.imgCard.titleRemoved {
    height: 100%;
    /* transition: height 0.3s ease-in-out; */
}

li.collection-item.noDataLi {
    text-align: center;
    height: 100%;
}



/* #hpbDsgnrcnvsWrapper .card {
    padding-bottom: 15px;
} */

.cardContentLoader {
    height: 100%;
}

.cardContentLoader .preloader-wrapper {
    position: relative;
    margin: 0 auto;
}



input.normalInpFld {
    border: 1px solid #d6d6d6;
    margin: 0px;
    height: 20px;
    padding: 0px 5px;
    font-size: 11px;
    box-sizing: border-box;
}

.cardContentMainWrapper {
    color: black;
    background-color: white;
    border-radius: inherit;
    position: relative;
}

.cardContentMainWrapper:not(.mainTitleRemoved) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.ui-state-default .card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ui-state-default .card .card-image img.nonResp {
    width: auto !important;
    height: auto !important;
    margin: 0 auto;
}

.posr {
    position: relative;
}



.htmlContentCard {
    overflow: auto;
}



.cardContentMainWrapper .card-content {
    word-wrap: break-word;
}

.agc-close-btn {
    padding: 0px;
    float: right;
    text-decoration: none;
    margin-left: 10px;
    color: #fff !important;
    text-shadow: 0 1px 0 #000;
    opacity: .7;
}

span.right.upDwnBtnWrapper button {
    padding: 0px 15px;
    height: auto;
    line-height: 0;
    position: relative;
    top: -3px;
    color: white;
}

#hpbDsgnrcnvsWrapper .card-content.imageCard {
    padding: 0px;
    height: 100%;
}

#sortable .ui-state-default.pointerMe .cardContentMainWrapper {
    cursor: pointer;
}

ul.floatingBtnMenu li a {
    border-radius: 2px;
    height: 23px;
    width: 115px;
    line-height: 0;
    font-size: 11px;
    text-align: left;
    padding: 6px 5px;
}

.fixed-action-btn ul.floatingBtnMenu li {
    margin-bottom: 4px;
}

.floatingBtnMenu .fixed-action-btn ul li {
    margin-bottom: 4px;
}

span.directAtnBtn {
    margin-left: 5px;
    text-transform: capitalize;
}

#hpbDsgnrcnvsWrapper .card-content.rssFeedCard,
#hpbDsgnrcnvsWrapper .card-content.mtskContentCard {
    padding: 0px;
    /* transition: height 0.3s ease-in-out; */
}

.reloadWidgetWrapper {
    text-align: center;
}

.reloadBtn {
    margin-bottom: 10px;
    font-size: 23px;
}

.carousel.carousel-slider {
    height: 100% !important;
}

p.rssFeedDesc {
    margin: 5px 0px !important;
    font-size: 12px !important;
    line-height: 1;
}

p.rssFeedDate {
    font-size: 10px !important;
    margin: 0px;
}


/* .rssLink {
    text-decoration: underline;
    color: #f6fcff;
} */

.carousel .indicators .indicator-item {
    margin: 2px !important;
}

.carousel.carousel-slider .carousel-item {
    min-height: 100% !important;
}

.rssImagePane,
.rssImagePane img {
    width: 100%;
    height: 100%;
}

.rssDetailsPane {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    text-align: left;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.51); */
}

.rssDetailsPane.imgAvailable {
    background: rgba(0, 0, 0, 0.55);
}

.titleRemoved .rssDetailsPane {
    padding-top: 40%;
}

.rssFedTitle {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
    max-height: 29px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rssImagePane.customRssImage img {
    width: initial;
    height: initial;
    margin-top: 10px;
}

.kpiImage {
    position: absolute;
    font-size: 70px;
    right: 9px;
    bottom: 6px;
    color: rgba(255, 255, 255, 0.54);
    height: auto !important;
}
.btextDir-rtl .kpiImage {left:9px !important;right:auto;}
table.kpiTable.kpiPTable thead {
    border: 0;
    background: rgba(37, 37, 37, 0.17);
}

table.kpiTable td,
table.kpiTable th {
    padding: 2px 5px;
    border-radius: 0 !important;
}

table.kpiTable.kpiPTable td a {
    color: white;
}

table.kpiTable.kpiPTable td a:hover {
    text-decoration: underline;
}

.colorMe.blue {
    background: rgba(93, 189, 240, 1);
    background: -moz-linear-gradient(left, rgba(93, 189, 240, 1) 0%, rgba(3, 221, 237, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(93, 189, 240, 1)), color-stop(100%, rgba(3, 221, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(93, 189, 240, 1) 0%, rgba(3, 221, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(93, 189, 240, 1) 0%, rgba(3, 221, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(93, 189, 240, 1) 0%, rgba(3, 221, 237, 1) 100%);
    background: linear-gradient(to right, rgba(93, 189, 240, 1) 0%, rgba(3, 221, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dbdf0', endColorstr='#03dded', GradientType=1);
}

.colorMe.red {
    background: rgba(237, 3, 3, 1);
    background: -moz-linear-gradient(left, rgba(237, 3, 3, 1) 0%, rgba(255, 94, 94, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 3, 3, 1)), color-stop(100%, rgba(255, 94, 94, 1)));
    background: -webkit-linear-gradient(left, rgba(237, 3, 3, 1) 0%, rgba(255, 94, 94, 1) 100%);
    background: -o-linear-gradient(left, rgba(237, 3, 3, 1) 0%, rgba(255, 94, 94, 1) 100%);
    background: -ms-linear-gradient(left, rgba(237, 3, 3, 1) 0%, rgba(255, 94, 94, 1) 100%);
    background: linear-gradient(to right, rgba(237, 3, 3, 1) 0%, rgba(255, 94, 94, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0303', endColorstr='#ff5e5e', GradientType=1);
}

.colorMe.green {
    background: rgba(5, 235, 124, 1);
    background: -moz-linear-gradient(left, rgba(5, 235, 124, 1) 0%, rgba(94, 255, 209, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(5, 235, 124, 1)), color-stop(100%, rgba(94, 255, 209, 1)));
    background: -webkit-linear-gradient(left, rgba(5, 235, 124, 1) 0%, rgba(94, 255, 209, 1) 100%);
    background: -o-linear-gradient(left, rgba(5, 235, 124, 1) 0%, rgba(94, 255, 209, 1) 100%);
    background: -ms-linear-gradient(left, rgba(5, 235, 124, 1) 0%, rgba(94, 255, 209, 1) 100%);
    background: linear-gradient(to right, rgba(5, 235, 124, 1) 0%, rgba(94, 255, 209, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05eb7c', endColorstr='#5effd1', GradientType=1);
}

.colorMe.purple {
    background: rgba(239, 1, 124, 1);
    background: -moz-linear-gradient(left, rgba(239, 1, 124, 1) 0%, rgba(255, 93, 177, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239, 1, 124, 1)), color-stop(100%, rgba(255, 93, 177, 1)));
    background: -webkit-linear-gradient(left, rgba(239, 1, 124, 1) 0%, rgba(255, 93, 177, 1) 100%);
    background: -o-linear-gradient(left, rgba(239, 1, 124, 1) 0%, rgba(255, 93, 177, 1) 100%);
    background: -ms-linear-gradient(left, rgba(239, 1, 124, 1) 0%, rgba(255, 93, 177, 1) 100%);
    background: linear-gradient(to right, rgba(239, 1, 124, 1) 0%, rgba(255, 93, 177, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef017c', endColorstr='#ff5db1', GradientType=1);
}

.colorMe.yellow {
    background: rgba(235, 189, 7, 1);
    background: -moz-linear-gradient(left, rgba(235, 189, 7, 1) 0%, rgba(255, 242, 94, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235, 189, 7, 1)), color-stop(100%, rgba(255, 242, 94, 1)));
    background: -webkit-linear-gradient(left, rgba(235, 189, 7, 1) 0%, rgba(255, 242, 94, 1) 100%);
    background: -o-linear-gradient(left, rgba(235, 189, 7, 1) 0%, rgba(255, 242, 94, 1) 100%);
    background: -ms-linear-gradient(left, rgba(235, 189, 7, 1) 0%, rgba(255, 242, 94, 1) 100%);
    background: linear-gradient(to right, rgba(235, 189, 7, 1) 0%, rgba(255, 242, 94, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebbd07', endColorstr='#fff25e', GradientType=1);
}

.colorMe.multiBlue {
    background: -moz-linear-gradient(301deg, rgba(255, 0, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 0, 255, 1)), color-stop(100%, rgba(0, 255, 255, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(301deg, rgba(255, 0, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(301deg, rgba(255, 0, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(301deg, rgba(255, 0, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);
    /* ie10+ */
    background: linear-gradient(149deg, rgba(255, 0, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00ff', endColorstr='#00ffff', GradientType=0);
    /* ie6-9 */
}

.colorMe.multiLime {
    background: -moz-linear-gradient(110deg, rgba(255, 255, 0, 1) 0%, rgba(0, 255, 255, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 255, 255, 1)), color-stop(100%, rgba(255, 255, 0, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(110deg, rgba(255, 255, 0, 1) 0%, rgba(0, 255, 255, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(110deg, rgba(255, 255, 0, 1) 0%, rgba(0, 255, 255, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(110deg, rgba(255, 255, 0, 1) 0%, rgba(0, 255, 255, 1) 100%);
    /* ie10+ */
    background: linear-gradient(340deg, rgba(255, 255, 0, 1) 0%, rgba(0, 255, 255, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#ffff00', GradientType=0);
    /* ie6-9 */
}

.whiteLink {
    color: white;
}

.whiteLink:hover,
.whiteLink:focus {
    text-decoration: underline;
}

.smallKpiTableWrapper {
    height: 100%;
    overflow: hidden;
}

table.kpiSingleRow td {
    padding: 2px 11px;
    border-radius: 0px !important;
}

.smallKpi .head {
    color: #e0e0e0;
    font-size: 12px;
    text-transform: capitalize;
}

table.kpiSingleRow tr:nth-child(even) {
    background: rgba(37, 37, 37, 0.17);
}

.kpiCard {
    height: 100%;
    margin: 0;
}

.colorMeA {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    height: 100%;
}

.palletIns {
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.pallet {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.gradientPalletWrapper {
    padding: 4px 5px;
    border: 1px solid #dedede;
}

.gradientSelected {
    background: rgba(95, 95, 95, 0.35);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
}

.gradientSelected span {
    position: relative;
    top: 5px;
    color: white;
    left: 6px;
}

.mtskContentCard .rssFedTitle {
    font-size: 17px;
}

.positionMeDown {
    position: absolute;
    bottom: 20px;
}

button.cardTitleClear.titleLessCardTitleClear {
    position: absolute;
    right: -8px;
    top: -5px;
    width: 20px;
    height: 20px;
    background-color: #d2d0d0 !important;
}

button.cardTitleClear.titleLessCardTitleClear i {
    color: black;
    font-size: 9px;
    position: relative;
    line-height: 0;
    top: -11px;
}

button.cardTitleClear.titleLessCardTitleClear:hover {
    background-color: #F44336 !important;
}

button.cardTitleClear.titleLessCardTitleClear:hover i {
    color: white;
}

.blurTheWholeScreen {
    background: rgba(0, 0, 0, 0.92);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    -webkit-transition: opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.blurTheWholeScreen.expand {
    opacity: 1;
}

.expandingContent {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.expandingContent .ui-state-default .card-content {
    /* transition: height 0.3s ease-in-out; */
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.expandingContent .ui-state-default {
    /* transition: width 0.3s ease-in-out; */
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.expandingContent .ui-state-default {
    position: relative;
}

.expandingContent .ui-state-default.expandMe {
    width: 100vw !important;
    left: 0 !important;
    top: 0 !important;
    /* height: 100vh !important; */
}

.expandingContent .ui-state-default.expandMe .heightOfcardContentMainWrapper {
     height: calc(100vh - 91px)!important
}

.mtskContentCard table.dataTable tbody tr {
    background: transparent !important;
}

.expandingContent .mtskContentCard .sqlContentCard {
    background: white !important;
    color: black !important;
    height: 100%;
}

.expandingContent a.paginate_button.current {
    padding: 0px !important;
}

#mainSearchFldSpn div.dataTables_filter {
    float: none;
    display: inline-block;
    width: 98%;
}

div#mainSearchFldSpn {
    width: 74%;
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin: 20px 0px 40px 10px;
}

#dataLength {
    display: inline-block;
    width: 25%;
    text-align: right;
    padding-right: 20px;
}

#dataLength select.browser-default {
    display: inline-block;
    width: auto;
    padding: 0;
    height: 20px;
}

#dataLength .dataTables_length {
    float: right;
}

.icon-magnifier.searchIcon {
    display: inline-block;
}

#mainSearchFldSpn .dataTables_filter label input {
    display: block;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    padding: 0 45px 0 6px;
    border: 0;
    margin: 0 !important;
}

#mainSearchFldSpn .dataTables_filter label input:focus {
    border: 0 !important;
    /* box-shadow: none; */
    box-shadow: -1px 1px 1px #a7a7a7;
}

.cardContentLoader {
    direction: ltr;
}

.mtextDirrtl .fixed-action-btn {
    left: 0px;
    right: auto;
}

.mtextDirrtl ul.floatingBtnMenu {
    padding: 0;
    right: -113px;
}

.mtextDirrtl ul.floatingBtnMenu li a {
    text-align: right;
}

.mtextDirrtl span.directAtnBtn {
    margin-right: 13px;
    text-transform: capitalize;
    top: 6px;
    position: relative;
}

.mtextDirrtl ul.floatingBtnMenu li a>span[class^="icon-"] {
    position: absolute;
}

.mtextDirrtl .cardContentLoader {
    direction: ltr;
}

.mtextDirrtl .agc-close-btn {
    float: left;
    position: relative;
    margin-left: 0;
    margin-right: 10px;
    top: 5px;
}

@media(max-width:415px) {
    .mtskContentCard .dataTables_scroll .dataTables_scrollBody {
        max-height: calc(100vh - 408px) !important;
    }

    .mtskContentCard #mainSearchFldSpn {
        margin: 10px;
    }
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 4px 3px;
    border-width: 0;
    border-radius: 0px !important;
    text-transform: capitalize;
}

.cardContentMainWrapper * {
    border-radius: inherit !important;
    /* height: 100%; */
    
}


.btextDir-rtl .cardContentMainWrapper * 
{
    text-align:right;
}

.cardContentData.maxHeight {
    height: 100% !important;
}

.circle-clipper .circle {
    border-radius: 50% !important;
}

.btn,
.btn-large,
.btn-flat {
    text-transform: capitalize;
}

#hpbDsgnrcnvsWrapper .card.hoverable {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
}


#HPBtabsHaeder {
    box-shadow: 0 0 5px #a7a7a7;
    margin-bottom: 5px;
    height: 35px;
}


#HPBtabsHaeder li.tab {
    line-height: 35px;
    height: 35px;
}

#HPBtabsHaeder .pageTab .tabTitle {
    text-transform: none;
}


.widgetFooterHoverButtons{
    display: none;
        position: absolute;
    bottom: -1px;
    /* background: #35353585; */
    color: white;
    z-index: 2;
    width: 0%;
}
.btextDir-ltr .widgetFooterHoverButtons {right:45px !important;}
.widgetFooterHoverButtons .prevNextBtnWrapper {
    width: 53px;
    margin: 5px 0 5px 5px;
}

button.hoverButton {
    width: 24px;
    height: 24px;
    border-radius: 50% !important;
    line-height: 21px;
    padding: 2px 0px;
    display: block;
    margin: 5px 0 4px 5px;
    background: #dedede;
    color: black;
}

.widgetFooterHoverButtons .prevButton {
    border-top-right-radius: 0 !important;
    display: inline-block;
    margin: 0;
    border-bottom-right-radius: 0 !important;
}

.widgetFooterHoverButtons .nextButton {
    border-top-left-radius: 0 !important;
    display: inline-block;
    margin: 0;
    margin-left: -6px;
    border-bottom-left-radius: 0 !important;
}


button.hoverButton i {
    font-size: 16px;
}

.showButtonsOnHover:not(.flippedBack):hover .widgetFooterHoverButtons {
    display: block;
}

button.hoverButton:hover {
    color: black;
    background: #d2d2d2c7;
}

.hyperlinkCell {
    color: #06c;
}
.hyperlinkCell:hover{
    text-decoration: underline;
}
.dynamicContentCard {
    overflow: auto;
    height: 100%;
}

.widgetBreadCrumb {
    position: absolute;
    z-index: 1;
    width: 100%;
}

span.bCrumb {
    max-width: 19%;
    display: table-cell;
    text-transform: capitalize;
    background: #4444448c;
    color: white;
    padding: 0 5px;
    box-sizing: border-box;
    padding-right: 0;
}

span.bCrumb::after {
    font-family: 'Linearicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e93c";
    font-size: 14px;
    position: relative;
    top: 1px;
}

span.bCrumb:hover {
    text-decoration: underline;
    cursor: pointer;
}

.modernCardMenu {
    right: 8px;
    top: 6px;
    position: absolute;
    transform: rotate(90deg);
    padding: 0 3px;
    height: 20px;
    line-height: 22px;
}

.modernMenuBg {
    width: 100%;
    position: absolute;
    height: 100%;
    background: #0e0e0eba;
    z-index: 99;
}

.modernMenuItems {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    padding: 0px 1px;
}

.modernMenuItems ul {
    margin: 0;
    background: white;
    font-size: 14px;
}

.modernMenuItems ul li {
    border-bottom: 1px solid #cecece;
}

.modernMenuItems ul li a {
    display: inline-block;
    padding: 6px 10px;
    width: 100%;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    border: 1px solid #ccc;
}


/* .flip-container:hover .flipper, */

/*.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}*/

.flip-container,
.flipper-front,
.flipper-back {
    width: 100%;
    height: 100%;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    height: 100%;
}

.flipper-front,
.flipper-back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.flipper-front {
    /* background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat; */
    z-index: 2;
}

/*.flipper-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #f8f8f8;
}*/

.flipper-back .customParamBtnWrapper {
    padding: 0 10px;
}

.flipper-back .applyButton {
    margin: 20px 0;
    width: 88%;
    max-width: 300px;
}

.flipper-back input,
.flipper-back .row {
    margin: 0;
}

.flipper-back .inputfldRow input {
    height: 2rem;
}

.flipper-back .inputfldRow label {
    top: 0.6rem;
}

button.widgetINParamsCloseIcon {
    position: absolute;
    right: 0;
    padding: 0 10px;
}

.MaterialtabNextPrevBtn {
    background-color: rgba(0, 0, 0, 0.64) !important;
    color: white !important;
}

.MaterialtabNextPrevBtn:hover {
    background-color: rgba(0, 0, 0, 0.42) !important;
    color: white !important;
}

.widgetFooterHoverButtons button.hoverButton:focus,
.widgetFooterHoverButtons button.hoverButton:hover {
    background-color: #989898 !important;
    color: white !important;
}


.inlineWidgetSearch {
    border: 1px solid #969696;
    border-radius: 20px !important;
    float: left;
    width: calc(100% - 10px);
    z-index: 1;
    background: white;
    top: 5px;
    margin: 0 5px;
    /* box-shadow: 0px 1px 10px #1f1f1f; */
    margin: 0px 0 6px 0;
}

.inlineWidgetSearch .dropdown-content {
    max-height: 400px;
}

.inlineWidgetSearch input,
.inlineWidgetSearch select {
    margin: 0 !important;
    height: 24px !important;
    box-sizing: border-box;
}

.inlineWidgetSearch select {
    padding: 0 2px;
    padding: 0 2px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 1px solid #969696;
}

.columnSelection {
    margin: 0;
    width: 20%;
    float: left;
}

.mainSearchWrapper {
    width: 80%;
    float: left;
    position: relative;
    height: 24px !important;
}

.mainSearchWrapper span.iconsWrapper {
    position: absolute;
    right: 3px;
    top: 1px;
}

.mainSearchWrapper span.iconsWrapper button {
    padding: 0;
    height: 20px;
    line-height: 20px;
}

.columnSelection input {
    /* border: 1px solid darkgrey !important; */
    border-bottom-width: 0 !important;
    padding: 0 6px !important;
    border-right: 1px solid darkgrey !important;
}

.mainSearchWrapper input {
    /* border: 1px solid #b5b5b5; */
    border-bottom-width: 0 !important;
    padding: 0 10px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.columnSelection ul.dropdown-content li {
    padding: 0;
    height: 25px;
    min-height: 25px;
    text-transform: capitalize;
}

.columnSelection ul.dropdown-content li span {
    padding: 0 5px;
}
.hoverable {
  margin-right:20px !important;
}
