﻿div#wBdr input.form-control, div#wBdr select.form-control, div#bootstrapModal input.form-control, div#bootstrapModal select.form-control {
    /*font-size: 9px !important;*/
    height: 23px !important;
}

div#wBdr .grid-stack-item .gridstackCalc, div#wBdr .grid-stack-item .divImgBorder, div#wBdr .grid-stack-item .divReadOnly, div#wBdr .grid-stack-item input[type=button].hotbtn.btn {
    height: calc(100% - 23px)!important;
}

div#wBdr label, div#bootstrapModal label{
    /*font-size: 9px;*/
    font-size: 12px;
    font-weight: normal !important;
    margin: 0px !important;
    margin-bottom: -5px !important;
}

/*div#bootstrapModal .form-group:not(.checkbox) label, div#wBdr .form-group:not(.checkbox) label{
    margin-bottom: -6px !important;
}*/

.form-control{
    width: 100% !important;
    padding: 2px !important;
    margin-bottom: 0px !important;
}

div.picklisttxtclear {
    top: 2px !important;
    /*font-size: 15px !important;*/
}

#ico_cl {
    font-size: 8px !important;
}

.form-group {
    margin: 0px !important;
    padding: 0px 3px !important;
    margin-top: 1px !important;
    margin-bottom: 0px !important;
}

font.allowempty {
    font-size: 10px !important;
}

.editLayoutFooter {
    margin-top: 8px !important;
    padding-left: 0px !important;
}

.loadingTheDataPW {
    margin-top: 10px;
    font-size: 12px;
}

.input-group-addon {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    padding: 2px 12px;
}

span.input-group-addon i {
    /*font-size: 9px !important;*/
}

.dcTitle .frameCap {
    font-size: 13px;
    font-weight: normal;
}

.dcTitle {
    padding: 2px 1px;
}

[id^='wrapperForEditFields'] {
    padding: 8px !important;
    margin-top: 8px !important;
}

.wrapper {
    padding: 7px 0px !important;
}

#wBdr .wrapper .container-fluid {
    padding: 0px !important;
}

.customSetupTableMN {
    margin: 0px !important;
}


#dvlayout .checkbox.form-group.col-lg-12.col-sm-12.col-md-12 {
    margin-top: 5px !important;
}
/*div#wBdr label {
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    background: white;
    position: relative;
    top: 8px;
    z-index: 55;
    left: 4px;
}*/
.grdButtons .btn, .grid-icons .btn {
    min-width: 0px;
    min-height: 0px;
    height: 20px;
    padding: 0px 6px !important;
}

.grdButtons ul {
    margin-bottom: 0px;
}

#myTab li a {
    padding: 0px 4px;
    /*font-size: 12px;*/
}

[id^='colScroll'] [id^='gridHd'] td {
    padding: 0px 2px;
}

[id^='colScroll'] [id^='gridHd'] th {
    /*font-size: 10px !important;*/
    padding: 3px 5px !important;
}

textarea.labelInp {
    height: 20px !important;
}

div#icons li a:not(.action), div#icons li.gropuedBtn, div#icons li a.singleaction, div#icons li a.arrButtonsAction,
div.grdButtons li a.gridBtns {
    /* padding: 0px 3px; */
    /*font-size: 12px;*/
}

div.grdButtons {
    margin-top: 7px;
    top: 7px;
}

hr.hrline {
    margin-bottom: 8px;
}

[id^='colScroll'] [id^='gridHd'] tbody tr td:nth-child(3) {
    padding-top: 5px;
    text-align: center;
}

span.checkBoxSpn {
    position: relative;
    top: 4px;
    left: -5px;
}

input[type="checkbox"] {
    width: 11px;
}

table#tblPickData td {
    font-size: 11px;
    padding: 0px 3px;
}


.pickListFooter {
    padding: 0px 0px;
}

input#Button1 {
    min-width: 10px;
    min-height: 0px;
    height: 20px;
    font-size: 11px;
}

input#searstr {
    /*font-size: 9px !important;*/
    height: 23px !important;
}


/*#searchoverrelay .panel-heading h4 {
    font-size: 11px;
}*/

/*.panel-body {
        font-size: 11px;
    }*/
button#advancebtn,
input#Button1 {
    font-size: 12px;
}

table#tblPickData td {
    font-size: 12px;
    padding: 0 3px;
}

input#Button1 {
    min-width: 10px;
    min-height: 0;
    height: 23px;
}

input#searstr,
select#ddlSearch {
    /*font-size: 9px!important;*/
    height: 23px !important;
}

#searchoverrelay .panel-heading {
    padding: 1px 7px 1px 3px;
}

div#UpdatePanel1 {
    font-size: 11px !important;
    margin-bottom: -15px;
}

.pickListFRP i:first-child {
    margin-right: -2px;
}

div.ui-datepicker {
    font-size: 12px;
}

div#Panel1 {
    background-color: transparent;
}

#searchoverrelay .panel-body {
    padding: 6px 5px 14px 7px;
}

.ui-autocomplete {
    font-size: 12px !important;
}

span.fa.fa-paperclip {
    background-image: url(../images/upload.png);
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}

#containerDc div[id^=GridAttach], #bootstrapModalData div[id^=GridAttach] {
    min-height: 16px;
}

.customchkbox {
    top: 3px !important;
    left: 2px !important;
}

.custInpChk {
    margin-top: 25px !important;
    position: relative !important;
}

.autoinput-parent.opened::after {
    top: 5px !important;
}

.autoclear {
    padding-top: 4px !important;
}

.edit {
    padding-top: 3px !important;
}

#wizardBodyFooterWrapper {
    margin-top: -7px !important;
}
/*.wizardBodyContent {
    height: calc(100vh - 216px) !important;
}*/

#wizardWrappper.progress_flat .wizardBodyContent {
    height: calc(100vh - 207px) !important;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
    left: 0px;
    right: 1px;
}
.grid-stack > .grid-stack-item > .ui-resizable-se{
   right: -5px !important;
} 

.grid-stack > .grid-stack-item > .ui-resizable-sw {
   left: -5px !important;
}

.grid-stack:not(.staticRunMode) > .grid-stack-item {
    margin-bottom: 1px !important;
    padding-left: 0px !important;
    padding-right: 1px !important; 
}

.grid-stack-item .gridstackCalc{
    height : calc(100% - 20px) !important;
}
.grid-stack-item .customGridchkbox{
    top: -2px !important;
}

.teethBtn {
    position: absolute;
    top: 22px;
    right: 10px;
    width: auto !important;
    font-size: 20px;
}

.teeth_btn {
    bottom: 1px !important;
}
