﻿.customErrorMessage {
    color: #cf4444;
    margin-bottom: -13px;
    display: block;
    margin-left: -19%;
}

.customMessage {
    color: #cf4444;
    margin-bottom: -13px;
    display: inline-block;
    margin-left: -26%;
}

.appHeader {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
}

.headerName {
    text-align: center;
    margin-bottom: -37px;
}

body {
    font-family: 'Lato', sans-serif !important;
}

select#ddlImpTbl {
    margin: auto;
    min-width: 220px;
    margin-bottom: -6px !important;
}

button#btnWiz1 {
    margin-right: 13px;
}

span#ico {
    margin-right: 5px;
}


button#btnCancel {
    margin-right: 2px !important;
}

button.hotbtn.btn.prev-step {
    margin-left: 2px;
}

button.coldbtn.btn.prev-step {
    margin-left: 26px !important;
    margin-top: 12px !important;
}

button#btnCancelWiz4 {
    margin-right: 19px !important;
    margin-top: 12px !important;
}


input#filMyFile {
    border: 1px solid #d2cece;
    height: 30px;
    border-radius: 4px;
    padding: 3px 2px;
    width: 26%;
    margin-top: 15px;
}

input#UploadButton {
    height: 30px;
    margin-top: 4px;
    width: 12%;
}

span#lblTemplateNtAvalble {
    margin-left: -25%;
}

.displayinline {
    display: inline-flex;
}


.wizard {
    margin: 5px auto;
    background: #fff;
    border: 1px solid #bbbbbb;
    width: 85%;
    padding: 0px;
    min-height: 460px !important;
}

input[type=file] {
    display: inline-block;
}

textarea#summaryText {
    overflow: auto;
    width: 100% !important;
    max-height: 236px !important;
}


.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > section.wizard-inner {
    position: relative;
    padding: 0px 15px;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

.popover-content {
    font-size: 11px !important;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tab i {
        color: #555555;
    }

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    color: #5bc0de;
}

    .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 24px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.wizardContent {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 228px;
}

.wizardFooterBtn {
    position: relative;
    bottom: 4px;
    width: 100%;
    left: 0px;
    margin: 0px;
}

/* for demo only */
.wizard h3 {
    margin-top: 0;
    font-size: 50px;
    padding-top: 62px;
}

.input-group {
    margin: auto;
}

td, th {
    padding: 3px;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
}

.uploaddiv {
    margin-top: 5px;
}

input#txtPrimayColumn {
    border-radius: 4px;
    border: 1px solid #ccc;
}

thead {
    background-color: #efefef;
}

label.lblleft {
    margin-left: -29%;
}

input#ChkColNameInfile {
    width: 14px !important;
    height: 14px !important;
    position: relative;
    vertical-align: middle;
    bottom: 4px;
    bottom: 1px;
    margin: 5px;
}

i.fa.fa-question-circle-o {
    font-size: 14px !important;
}

input#chkForAllowUpdate {
    height: 14px !important;
    width: 14px !important;
    position: relative;
    vertical-align: text-bottom;
}

input#chkForIgnoreErr {
    height: 14px !important;
    width: 14px !important;
    position: relative;
    vertical-align: text-bottom;
}

@media( max-width : 370px ) {

    a#lnkExpTemp {
        min-width: 158px;
        font-size: 11px;
    }

    select#ddlImpTbl {
        min-width: 162px;
    }
}

#waitDiv {
    height: DYNAMIC;
    left: 0px;
    position: absolute;
    top: 0px;
    visibility: visible;
    width: DYNAMIC;
    z-index: 100000;
}

#backgroundDiv {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #d3d3d3;
    filter: alpha(opacity=50);
    /*opacity: 1;*/
    z-index: 999999;
}

#messageDiv {
    position: fixed;
    top: 10%;
    left: 35%;
    padding: 10px;
    width: 30%;
    z-index: 1000000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#ffffff'); /* for IE */
    background: -moz-linear-gradient(top, #d4d4d4, #ffffff) !important; /* for firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#ffffff));
    background: -ms-linear-gradient(ttop, #d4d4d4, #ffffff) !important;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    color: #333333;
    border: 1px solid #333333;
    vertical-align: middle;
}




@media( max-width : 520px ) {

    .wizardContent {
        height: calc(100vh - 193px) !important;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .wizard .tab-pane {
        position: relative;
        padding-top: 5px;
    }
}


@media( max-width : 320px ) {
    input#filMyFile {
        border: 1px solid #d2cece;
        height: 30px;
        border-radius: 4px;
        padding: 3px 2px;
        width: 37%;
        margin-top: 10px;
        font-size: 12px;
    }


    .wizardFooterBtn {
        bottom: 0px !important;
    }

    input#UploadButton {
        height: 30px;
        margin-top: -3px;
        min-width: 64px !important;
        padding: 0px 0px;
    }

    button.coldbtn.btn.prev-step {
        width: 73px !important;
    }
}

@media( max-width : 1236px ) {
    .customErrorMessage {
        margin-left: -15% !important;
    }
}

@media( max-width : 1027px ) {
    .customErrorMessage {
        margin-left: -7% !important;
    }
}

@media( max-width : 1236px ) {
    .customMessage {
        margin-left: -24% !important;
    }
}


@media (max-width:414px) and (min-width:321px) {
    input#filMyFile {
        border: 1px solid #d2cece;
        height: 30px;
        border-radius: 4px;
        padding: 3px 2px;
        width: 31%;
        margin-top: 15px;
    }
}



@media (max-width:414px) {

    button#btnCancelWiz2 {
        min-width: 65px !important;
        margin-right: 1px;
    }

    button.coldbtn.btn.prev-step {
        min-width: 56px;
        padding: 0px 3px;
    }

    button#btnNext {
        min-width: 84px;
    }
}

/*@media (max-width:320px) {
    .wizardFooterBtn {
        position: absolute !important;

    }
}*/



@media (max-width:1029px) {
    span#lblTemplateNtAvalble {
        margin-left: -16% !important;
    }

    label.lblleft {
        margin-left: -23%;
    }
}

.allowempty {
    color: #ff0000;
}

p.vertical-text {
    cursor: default !important;
}


.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

    .file-upload .file-select {
        display: block;
        border: 2px solid grey;
        color: #34495e;
        cursor: pointer;
        height: 30px;
        line-height: 40px;
        text-align: left;
        background: #FFFFFF;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

        .file-upload .file-select .file-select-button {
            background: grey;
            padding: 0 10px;
            display: inline-block;
            height: 40px;
            line-height: 30px;
            vertical-align: top;
        }

        .file-upload .file-select .file-select-name {
            position: absolute;
            top: -4px;
            padding-left: 5px;
        }

.file-upload {
    border-color: grey;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    width: 100%;
}

    .file-upload .file-select-button {
        background: grey;
        color: #FFFFFF;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

    .file-upload.active .file-select {
        border-color: grey;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

        .file-upload.active .file-select .file-select-button {
            background: grey;
            color: #666;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
        }

    .file-upload .file-select input[type=file] {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .file-upload .file-select.file-select-disabled {
        opacity: 0.65;
    }

    .file-upload .file-select {
        cursor: default;
        display: block;
        border: 2px solid grey;
        cursor: pointer;
        height: 33px;
        line-height: 40px;
        text-align: left;
        background: #FFFFFF;
        overflow: hidden;
        position: relative;
    }

        .file-upload .file-select.file-select-name {
            line-height: 40px;
            display: inline-block;
            padding: 0 10px;
        }
/*Choose File button*/
section#leftVerticalText p.vertical-text {
    cursor: default;
}

a#lnkExpTemp:hover {
    opacity: 0.65;
}

span#fileName {
    color: #fff !important;
}

li.disabled a i {
    cursor: no-drop !important;
    background-color: #fff !important;
}

input#UploadButton:hover {
    opacity: 0.65 !important;
}

.disableFileupload {
    cursor: not-allowed !important;
    margin-top: -3px;
    width: 260px;
}

label#lblForIgnoreErr {
    padding-left: 2px;
}

span.glyphicon.glyphicon-download-alt.icon-basic-download {
    top: 4px;
    padding-right: 4px;
}

section#updatePnl2 {
    margin-top: -10px;
}

.displayinline {
    width: 100%;
    margin: auto;
}

@media(max-width:781px) {
    .appHeader {
        height: 40px;
        width: 100%;
        display: none;
        border-bottom: 1px solid #c1c1c1;
    }

    .wizard {
        border: none !important;
    }
}

@media(max-width:654px) {

    .wizardContent {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        height: 263px;
    }
}


@media(max-width:700px) {
    /*.displayinline {
        width: 43%;
        margin: auto;
        display: block;
    }*/

    .file-upload {
        width: 100%;
    }
}

@media(max-width:600px) {
    /*.displayinline {
        width: 47%;
        margin: auto;
        display: block;
    }*/

    .file-upload {
        width: 100% !important;
    }
}


@media(max-width:473px) {
    /*.displayinline {
        width: 63%;
        margin: auto;
        display: block;
    }*/

    .file-upload {
        width: 100%;
        margin-bottom: 8px;
    }

    .wizardContent {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        height: 263px;
    }
}

/*wizard css*/

.wizard-progress {
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;
}

    .wizard-progress .step {
        display: table-cell;
        text-align: center;
        vertical-align: top;
        overflow: visible;
        position: relative;
        font-size: 14px;
        color: #797979;
    }

        .wizard-progress .step a {
            color: #797979;
        }

        .wizard-progress .step:not(:last-child):before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 39px;
            background-color: #d2d2d2;
            height: 3px;
            width: 100%;
        }

        .wizard-progress .step .node {
            display: inline-block;
            border: 3px solid #d2d2d2;
            background-color: #fff;
            border-radius: 18px;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 25px;
            left: 50%;
            margin-left: -18px;
            cursor: pointer;
        }

        .wizard-progress .step.complete:before {
            background-color: #07c;
        }

        .wizard-progress .step.complete .node {
            border-color: #07c;
            background-color: #07c;
        }

            .wizard-progress .step.complete .node:before {
                font-family: 'Linearicons';
                content: "\e934";
                color: white;
                position: relative;
                top: 3px;
            }

        .wizard-progress .step.in-progress:before {
            background: #07c;
            background: -moz-linear-gradient(left, #07c 0%, #fff 100%);
            background: -webkit-linear-gradient(left, #07c 0%, #fff 100%);
            background: linear-gradient(to right, #07c 0%, #fff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07c', endColorstr='#fff',GradientType=1 );
        }

        .wizard-progress .step.in-progress .node {
            border-color: #07c;
        }

#wizardModal {
    width: 95vw;
    height: 80vh;
    max-height: 80vh;
}

.cancelButton {
    background: gray !important;
    margin-right: 10px !important;
}

.modal-footer button {
    text-transform: capitalize;
}

.wizard-progress .step.active a {
    color: #01579b;
}

.stepName:hover {
    text-decoration: none;
}

.wizard-progress .step.active node {
    color: black !important;
}

.marg0 {
    margin: 0 !important;
}

#wizarTypeSel .valign-wrapper {
    text-align: center;
    height: calc(100vh - 290px);
}

#wizardBodyContent .valign-wrapper {
    text-align: center;
    height: calc(100vh - 300px);
}


#wizarTypeSel a.iconAnchr {
    display: inline-block;
    margin: 0 10px;
    color: grey;
}

    #wizarTypeSel a.iconAnchr span {
        font-size: 121px;
    }

.wizardContainer {
    display: inline;
    margin-top: 10px;
}

.progress_flat #wizardBodyContent {
    margin-top: 40px;
}

.progress_flat .wizard-progress {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 15px;
    position: relative;
}

.progress_flat #wizardHeader {
    margin: 17px;
}

.progress_flat {
    min-height: 321px;
}

    .progress_flat .wizard-progress .step a {
        color: black;
    }

    .progress_flat .wizard-progress .step:not(:last-child):before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: -9px;
        height: 3px;
        background: none !important;
    }

.wizard-progress .step.active.flat:before {
    width: 10px;
    margin-top: -3px;
}

#wizardBodyContent {
    margin-top: 45px;
    max-height: 282px !important;
}

.progress_flat .wizard-progress .step.active.flat:before {
    background: none !important;
}

.progress_flat #imWizardEdit {
    min-height: 274px;
}

.wizard-footer {
    border-top: 1px solid rgb(229, 229, 229);
}

#exWizardFilter {
    margin: 15px;
}
/*Themes*/
#wizarTypeSel a.iconAnchr:hover, #wizarTypeSel a.iconAnchr:focus {
    color: #01579b;
    outline: 0;
}

#wizardFooter button.btn {
    margin: 12px;
    margin-right: 3px;
}

.multiselect option {
    border-bottom: 1px #eee solid;
    padding: 6px 11px 9px 7px;
    color: #555;
    font-size: 14px;
    border-bottom: 1px #eee solid;
    color: #555;
    font-size: 14px;
}

.multiselect {
    padding: 0px;
    height: 151px !important;
    padding: 0;
    overflow-y: auto;
}

.select-button {
    padding: 9px;
    width: 35px;
    cursor: pointer;
    font-weight: bold !important;
    font-size: 20px !important;
}

#imWizardUpload {
    text-align: center;
}

.gridData select {
    width: 100%;
}

.rtlLanguage .wizard-progress .step:not(:last-child):before {
    right: 50%;
}

.select-button:focus, .select-button:hover {
    text-decoration: none !important;
}

.jconfirm {
    position: absolute !important;
}

.upload-section {
    margin-bottom: 15px;
}

label {
    font-weight: normal;
}


@media(max-width:425px) {
    .wizardContainer {
        margin-top: 0px;
    }

    .upload-progress {
        height: 10px;
        padding: 0px;
    }
}



.upload-progress {
    height: 10px;
    padding: 14px 0px 14px 0px;
}

#gridImpData {
    border: 1px solid #ccc;
}

    #gridImpData tr td {
        min-width: 150px;
        font-size: 12px;
        color: #545454;
    }

    #gridImpData td, th {
        min-width: 150px;
        border: 0;
    }

    #gridImpData tr {
        border-bottom: 1px solid #ccc !important;
    }

.popover-content.grd-attach-popover-content div {
    max-width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000 !important;
}

.gridData select {
    height: 30px !important;
    font-size: 12px;
    color: #545454;
}

#gridImpData .col-info {
    font-size: 12px;
    margin-left: 4px;
}

#ddlImpTbl {
    display: none !important;
}

#gridImpData label {
    font-size: 12px;
}

#gridImpData select {
    height: 28px;
    font-size: 11px;
    color: #000;
    border: 1px solid #b1aeae;
}

#gridImpData label.checkbox-inline input[type=checkbox] {
    margin-left: -16px;
    margin-top: 1px;
}

.column-disabled, .form-control[disabled] {
    background-color: #eeeded !important;
    cursor: not-allowed;
    vertical-align: top;
}

#wizardWrappper {
    padding: 0px 10px 0px 10px;
}

.btextDir-rtl .dropdown-toggle .filter-option {
    text-align: right !important;
}

.btextDir-rtl .dropdown-toggle .caret {
    left: 12px !important;
    right: auto !important;
}

@media (max-width: 768px) {
    .customclscol {
        margin-top: 10px;
    }

    .upload-progress {
        margin-top: -10px;
    }

    #wizardFooter button.btn {
        margin: 0;
        min-width: 80px;
    }

    #wizardWrappper {
        padding: 0px 10px 60px 10px !important;
    }

    #updatePln3 span#lblTest {
        width: 100%;
        overflow-x: scroll;
        display: block;
        padding: 20px 0px;
    }
}
