﻿div.norecords ul#iconsUl a:not(.add):not(.filterBuTTon) {
    display: none !important;
}

.cap {
    text-transform: capitalize;
}

#searchBar {
    /* margin-left: 10px;
    margin-top: 5px; */
    float: left;
    /* position: absolute; */
}

.btextDir-rtl #searchBar {
    float: right;
}

#rowsTxtCount {
    float: right;
    margin: 2px 13px 0px;
}

#dvRefreshParam{
    margin: 0px 13px 0px;
}

.btextDir-rtl #rowsTxtCount {
    float: left;
}

.btextDir-rtl .nextPrevBtns {
    float: left !important;
}

#searchBar p {
    display: inline-block;
    margin: 5px;
}

* {
    font-size: 14px;
}

.cap {
    text-transform: capitalize;
    font-size: 13px;
}

#button1 {
    padding: 4px;
}

#button2 {
    padding: 4px;
}

.tblresX td {
    padding: 1px 0px;
}

.tblresX {
    width: 90%;
    margin-left: 5%;
}

.btextDir-rtl .tblresX {
    margin-left: 0;
    margin-right: 5%;
}

@media (max-width:700px) {
    .tblresX td {
        display: block;
    }
}

#iviewData {
    margin-top: 10px;
}

.clear {
    clear: both;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

.removeMyView:hover {
    cursor: pointer;
    color: red;
}

#ivContainer .container {
    width: 100%;
    padding: 0px;
}

.tab-pane ul {
    list-style-type: none;
}

#Filterscollapse .btnhead {
    padding: 0px 4px;
    background-image: -webkit-linear-gradient(top,#ababab 0,#4b5052 100%);
    background-image: -o-linear-gradient(top,#ababab 0,#4b5052 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ababab),to(#4b5052));
    background-image: linear-gradient(to bottom,#ababab 0,#4b5052 100%);
    background-color: #ababab;
    color: white;
}

div#searchBar ul:not(.dropDownButton__list) {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

div#searchBar li a {
    margin: 7px;
    padding-right: 0px;
    color: #06c;
    width: initial;
    text-decoration: none;
}

    div#searchBar li a.Views {
        display: none !important;
    }

#icons .dropdown {
    display: inline-block;
}

#icons {
    display: block;
    /* margin: 15px 25px; */
}

#ivContainer
{
/* margin: 15px 25px; */
margin: 10px 10px 0px 25px;
}

.actionsBtn {
    margin-left: 3px;
    margin-bottom: 3px;
    background: transparent;
    border: 1px solid #e2e2e2;
    box-shadow: 1px 1px 5px #eaeaea;
    position: relative;
    top: 0px;
    padding: 0px 6px;
}

#icons #uldropelements li {
    display: block;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

    #icons #uldropelements li a {
        text-decoration: none;
    }

#uldropelements li a:hover, #uldropelements li a:focus {
    border-left: 5px solid #3382c9 !important;
    background: #ececec !important;
    padding-left: 15px;
    color: black !important;
    cursor: pointer;
}

div#icons li a:not(.action), div#icons li.gropuedBtn, div#icons li a.singleaction, div#icons li a.arrButtonsAction, div#icons li#myFiltersLi, .c-button--dropdown {
    /* display: inline-block;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 2px #f3f3f3;
    margin: 0px 3px;
    padding: 4px 9px;
    cursor: pointer; */
    border: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    /*text-align: center;*/
    padding: 6px 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    /*border-radius: 2px;*/
    /* min-width: 100px; */
    margin-right: 3px;
    /* height: 30px; */
    color: #000;
    /* background: #fff; */
}

    div#icons li a:not(.action):hover, div#icons li#myFiltersLi:hover, div#icons li.gropuedBtn:hover, div#icons li a.singleaction:hover, div#icons li a.arrButtonsAction:hover,div#icons li#myFiltersLi:hover, .c-button--dropdown:hover, 
    div#icons li a:not(.action):focus, div#icons li#myFiltersLi:focus, div#icons li.gropuedBtn:focus, div#icons li a.singleaction:focus, div#icons li a.arrButtonsAction:focus, div#icons li#myFiltersLi:focus, .c-button--dropdown:focus {
        /*background: #efefef;*/
        /* border: 1px solid #e3e3e3;
        box-shadow: 0px 1px 2px #e3e3e3; */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
        -webkit-transition: all 60ms ease;
        transition: all 60ms ease;
        opacity: 1;
        color: #333;
        outline: none;
        /* background: #fff */
    }

.c-button--dropdown{
    padding: 4px;
}

div#icons li a#myFilters {
    border: 0px;
    box-shadow: none;
    margin: 3px;
    padding: 0px;
    border-radius: 0px;
    cursor: pointer;
}

div#icons li#myFiltersLi {
    /* display: inline-block;
    background: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 2px #f3f3f3;
    margin: 0px 3px; */
    padding: 1px 6px;
    /* border-radius: 4px; */
}

div#icons li:not(.dropDownLst):not(.dropDownButton__item):not(.liTaskItems) {
    display: inline-block;
}

    /* div#icons li:not(.dropDownLst):not(.dropDownButton__item) a {
        text-decoration: none;
        color:#fff;
        padding: 6px 14px;
        border-radius: 4px;
        
    
    } */
div#icons li .dropdown-menu li a{background: #fff !important;color: #000 !important;}
div#icons {
    list-style-type: none;
}

    div#icons li.gropuedBtn button {
        padding: 0px;
        background: transparent;
        border: 0px;
        color: #fff;
        outline: 0px;
        box-shadow: none;
        margin: 0px;
        cursor: pointer;
    }

    div#icons li a {
        color: #337ab7;
    }

    div#icons li.gropuedBtn {
        position: relative;
        top: 0px;
        padding: 5px 10px 4px 10px;
        color: #fff;
        border-radius: 4px;
        background: #a7a7a7;
    }
    div#icons li.gropuedBtn .dropdown button span{position: relative;
    top: 2px;}

.pickLstResultWrapper {
    position: relative;
    display: none;
}

.pickLstResultCntnr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 0.9em;
    z-index: 9999;
    border: 1px solid #e0dcdc;
    border-top: none;
    background: #fff;
    box-shadow: 0 4px 4px rgba(10, 10, 10, 0.1);
    max-height: 330px;
    overflow-y: auto;
    z-index: 999;
}

.pickLstCloseBtn {
    float: right;
    margin-top: 5px;
    margin-right: 6px;
    color: #b73c3c;
    font-size: 16px;
}

#dvPickList {
    min-width: 150px;
}

.clear {
    clear: both;
}

.pickListFooter .pickListFLP {
    float: left;
}

.pickListFooter .pickListFRP {
    float: right;
}

.pickListFooter .pickListFLP button {
    border: none;
    background: rgba(255, 255, 255, 0);
}

.pickListFooter .pickListFLP i {
    top: 2px;
}

.pickListFooter {
    padding: 7px 6px;
    color: darkorange;
}

    .pickListFooter:hover {
        color: #337ab7;
    }

.pickListFRP button {
    background: none;
    border: none;
    box-shadow: 0px 1px 1px #a99c9c;
}

.pickListFRP i {
    top: 2px;
}

#tblPickData tr {
    border-bottom: 1px solid #cecccc;
}

#tblPickData .active {
    background-color: #aaaaaa;
}

table {
    width: 100%;
}


@font-face {
    font-family: "Lohit-Devanagari";
    src: url("../assets-v1/fonts/Lohit-Devanagari.woff") format('woff');
}

table.gridData td a, table.gridData td font {
    font-size: inherit;
     /*color:inherit;*/
}

table.gridData td a{
    cursor: :pointer;
}

.btextDir-rtl span#goback {
    margin-left: 9px;
}

    .btextDir-rtl span#goback:before {
        content: "\e04c";
    }
/*.btextDir-rtl .gridData.clonedHtml{
    left:auto !important;
    right:0 !important;
}*/
#dvStatictime {
    text-align: right;
}

.btextDir-rtl #dvStatictime {
    text-align: left;
}

.btextDir-rtl table.gridData.clonedHtml th{
    text-align: right;
}

span.ivparamselect {
    color: red;
}

#getIviewRecordCountVal{
    text-decoration: none;
    height: 14px;
    width: 14px;
    position: relative;
    top: 2px;
}
.paramtd2{width:100%;}
.paramtd2 input{
    height: 31px !important;
    font-size: 12px;
    width: 100%;
    border-radius: 3px !important;
}
.paramtd2 a
{
    /*display: inline-block;
    float: right;
    top: -31px;*/
    position: relative;
    z-index: 222;
    width: 35px;
}
/*.remodal-wrapper.remodal-is-opened #axpertPopupWrapper button.remodal-close.icon-basic-remove {right: -7px !important;}*/
.btextDir-rtl .jconfirm-title{

    margin-right: 26px;
}
/*.remodal-wrapper.remodal-is-opened #axpertPopupWrapper button.remodal-close.icon-basic-remove {
    right: -7px !important;

}*/
.chkListBdr span{
    word-break:break-word;
    margin-bottom: 8px;
    display: inline-block;
}
.spnSelectAll {
    margin-top: -2px;
    height: 30px;
    margin-right: -5px;
}
.chkListBdr{
    margin-right: -5px;
}
.chkListBdr input[type=checkbox]{
        margin: 2px;
        margin-top: 0px;
        float:left;
}
@media (max-width:960px){
    #breadcrumb-panel {
      height:auto;
      padding-right: 68px;
    }
    .left {
     float: none;
    }
    #breadcrumb span,.bcrumb span{
       font-size:15px !important;
       left:28px;
       line-height: 22px;
    }
    .searchBoxChildContainer input#ivInSearchInput {
      width:20px;
      height: 25px;
    }
    #ivInSearch {
      right:0;
    }
    .searchBox {
      top: -8px;
    }
    .searchBoxChildContainer .icon {
      top: 2px;
      right: 23px;
    }
}
