﻿.tabBody {
    border: solid 1px #bbb;
    padding: 10px;
    background-color: #ffffff;
}

.td {
    font-size: small;
    font-weight: normal;
    font-style: normal;
}

.style3 {
    width: 395px;
}

.pageBody {
    margin: 0px 2px 0px 2px;
    height: auto;
}

.body {
    /*font-family: Segoe UI, Arial, Helvetica, sans-serif;*/
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

.frmiview {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

#divframe {
    height: auto;
    width: 100%;
    background-color: #ffffff;
}

#Panel1 {
    background-color: #ffffff;
    width: 100%;
}

#Panel2 {
    background-color: #ffffff;
    width: 100%;
}

.bodybg {
    background-color: #ffffff;
}

.bodymargin {
    margin: 0px 0px 0px 0px;
}

.maindiv {
    background-color: #ffffff;
}

.Mainbody {
    background-color: #ffffff;
}

/*---------------------------------- Styles for Curve------------------- */

.r1 {
    margin: 0 5px;
}

.r2 {
    margin: 0 3px;
}

.r3 {
    margin: 0 2px;
}

.r4 {
    margin: 0 1px;
    height: 2px;
}

/*---------------------------------- Start of Main Div Curve------------------------------------- */

.container {
    background-color: #bac1cd;
    color: #ffffff;
}

.rtop, .rbottom {
    display: block;
    background-color: #ffffff;
}

    .rtop *, .rbottom * {
        display: block;
        height: 1px;
        overflow: hidden;
        background-color: #bac1cd;
    }


/*---------------------------------- End of Main Div Curve-------------------------------------*/

/*---------------------------------- Start of Menu Div Curve-------------------------------------*/

.container1 {
    background: #ffffff;
    color: #bac1cd;
}

/*---------------------------------- End of Menu Div Curve-------------------------------------*/

/*---------------------------------- Start of Header Div for TStruct,IView & ListIView---------*/

.container3 {
    background-color: #bac1cd;
    color: #ffffff;
}

.rtop3 {
    display: block;
    background-color: #ffffff;
}

    .rtop3 * {
        display: block;
        height: 1px;
        overflow: hidden;
        background-color: #bac1cd;
    }


/*---------------------------------- End of Header Div for TStruct,IView & ListIView---------*/

/*---------------------------------- Start of Footer Div for TStruct,IView & ListIView-------*/

.container2 {
    background-color: #bac1cd;
    color: #ffffff;
}



/*-------------------------------- End of Footer Div for TStruct,IView & ListIView-----------*/


/* ---------------------------------------------- styles for menu bar --------------------------------------------- */

.DynamicMenuStyle {
    background-color: #EFEEF0;
    z-index: 9999;
    border: 1px solid #bbb;
}

/* ---------------------------------------------- End of styles for menu bar ----------------------------------------------*/
/*---------------------------------------------- Styles for Tstruct ------------------------------------------------------*/

.DivMessage {
    background-color: #EFEEF0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EFEEF0, endColorstr=#bac1cd);
    padding: 10px 0px 10px 0px;
    height: 100%;
    width: 100%;
}


/*------------------------------------ styles for the search div ------------------------------------*/



.Bordercolor {
    border: solid 1px;
    color: Black;
}

/*------------------------------------ End of styles for the search div -----------------------------*/



.Grid {
    color: #000000;
    font-size: 12px;
    border-collapse: inherit;
    border: solid 1px #bbb;
}


.l2:hover {
    text-decoration: underline;
}

.GridHead {
    background-color: #bac1cd;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0'); /* for IE */
    background: -moz-linear-gradient(top, #bac1cd, #EFEEF0) !important; /* for firefox 3.6+ */
    font-weight: normal;
    font-size: 10pt;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.labelcap {
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}

/*-------------------------------------- end of styles for Grid frame -------------------------------*/


/*---------------------------------------------- End of Styles for Iview --------------------------------------------------*/
/*---------------------------------------------- Styles for Messages page -------------------------------------------------*/

.lblMsg {
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
}

/*---------------------------------------------- End of Styles for Messages page -------------------------------------------*/
/*------------------------- General styles ----------------------*/

.font {
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}

.errmsg {
    color: Red;
    font-size: 12px;
    font-weight: bold;
}

/*------------------------- End of General styles --------------------------*/
/*------------------------ Styles for task button -----------------------------*/

.PopTd1 {
    width: auto;
    border: solid 1px #DFE3EE;
}

.popDivBg {
    cursor: hand;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    background-color: #F8F9FB;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    width: 99%;
}

.popDivBghover {
    cursor: hand;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    width: 99%;
}

/*------------------------End of Styles for task button ------------------------*/
/*-------------------------Styles for tab control------------------------------*/

.tab {
    border: solid 1px #bbb;
    font: bold 10pt;
    color: #000000;
    text-decoration: none;
    border-bottom: none;
    padding: 0px 5px;
    background-color: #EFEEF0;
}

.SelectedMenuTab {
    color: #000000;
    text-decoration: none;
    border: solid 1px #bbb;
    border-bottom: Solid 1px #ddddff;
    padding: 0px 5px;
    background-color: #bac1cd;
    font-weight: bold;
}

.menuTabs {
    font-size: 12px;
}

/*-----------------------End of Styles for tab control--------------------------*/
/*-----------------------Styles for Treeview------------------------------------*/

.Treeview {
    font-size: 12px;
    font-weight: normal;
}

.RootNode {
    width: 300px;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bolder;
}

.ParentNode {
    width: 300px;
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.LeafNode {
    color: #000000;
    width: 300px;
    text-decoration: none;
    background-color: #bac1cd;
    font-size: 12px;
    font-weight: normal;
}

.RootNodembox {
    background-color: #ffffff;
    border: solid 1px #ffffff;
    width: 300px;
    color: White;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
}

.ParentNodembox {
    height: 15px;
    width: 300px;
    color: White;
    text-decoration: none;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: normal;
}

.LeafNodembox {
    color: #ffffff;
    width: 300px;
    text-decoration: none;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: normal;
}

.Treeviewmbox {
    font-size: 12px;
    font-weight: normal;
}

.Treeviewlinks {
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
}

.SelectedNode {
    background-color: #ffffff;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
}

/*-----------------------End of Styles for Treeview------------------------------------*/



.label {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

/*--------------------------- Start GridView New Style---------------------------------- */

Table.Gridview {
    background-color: #ffffff;
    border-spacing: 0px;
    border: solid 1px #d5d5d5;
    /*font-family: Segoe UI, Arial, Helvetica, sans-serif;*/
    font-size: 12px;
    font-weight: normal;
}

.Gridview th {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0');
    background: -moz-linear-gradient(top, #bac1cd, #EFEEF0) !important;
    color: #000000;
    text-align: center;
    border: solid 1px #d5d5d5;
    font-weight: bold;
}

.Gridview td {
    border: solid 1px #d5d5d5;
    padding: 2pt 2pt 2pt 2pt;
}


.Gridview tr {
    color: #000000;
    text-align: left;
}

.GridviewCust td {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0'); /* for IE */
    background: -moz-linear-gradient(top, #bac1cd, #EFEEF0) !important; /* for firefox 3.6+ */
    color: #000000;
    text-align: center;
    border: solid 1px #d5d5d5;
    font-weight: bold;
}

.Gridview :link {
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    text-decoration: none;
}

    .Gridview :link:hover {
        text-decoration: underline;
    }

.Gridview a:visited {
    font-size: 12px;
    font-weight: bold;
    color: #660066;
    text-decoration: none;
}

.Gridviewph {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0'); /* for IE */
    background: -moz-linear-gradient(top, #bac1cd, #EFEEF0) !important; /* for firefox 3.6+ */
    color: #000000;
    text-align: center;
    border: solid 1px #d5d5d5;
    font-weight: bold;
}

/*--------------------------- End GridView New Style---------------------------------- */

.divHomePageContainer {
    background-color: #EFEEF0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEEF0', endColorstr='#bac1cd'); /* for IE */
    background: -moz-linear-gradient(top, #EFEEF0, #bac1cd) !important; /* for firefox 3.6+ */
    padding: 10px 10px 10px 10px;
    height: auto;
}

/*--------------------------- Start TreeView New Style---------------------------------- */

Table.TreeView {
    background-color: #ffffff;
    border-spacing: 0px;
    border: solid 1px #d5d5d5;
    font-size: 12px;
    font-weight: normal;
}

.TreeView th {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0'); /* for IE */
    background: -moz-linear-gradient(top, #bac1cd, #EFEEF0) !important; /* for firefox 3.6+ */
    color: #000000;
    text-align: center;
    border: solid 1px #d5d5d5;
    font-weight: bold;
}

.TreeView td {
    padding: 2pt 2pt 2pt 2pt;
}

.TreeView tr {
    color: #000000;
    text-align: left;
}

.TreeView :link {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

    .TreeView :link:hover {
        text-decoration: underline;
    }

.TreeView a:visited {
    font-size: 12px;
    font-weight: bold;
    color: #660066;
    text-decoration: none;
}

/*--------------------------- End TreeView New Style---------------------------------- */


.button {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EFEEF0, endColorstr=#bac1cd);
    background: -moz-linear-gradient(top, #EFEEF0, #bac1cd);
    color: #333333;
    border: 1px solid #000000;
    padding: 3px 10px 3px 10px; /*width: 100px;*/
    font: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 60px;
}

input[type=button], input[type=submit] {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#EFEEF0, endColorstr=#bac1cd);
    background: -moz-linear-gradient(top, #EFEEF0, #bac1cd);
    /*color: #333333;*/
    border: 1px solid #333333;
    padding: 3px 10px 3px 10px; /*width: 100px;*/
    font: 12px;
    font-weight: bold;
    cursor: pointer;
}

.dvLeft {
    float: left;
    width: 30%;
    vertical-align: top;
    border: solid 1px gray;
}

.dvRight {
    float: right;
    width: 68%;
    vertical-align: top;
}


#dvDispCond {
    background-color: #bac1cd;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0'); /* for IE */
    background: -moz-linear-gradient(top, #bac1cd, #EFEEF0) !important; /* for firefox 3.6+ */
    border: solid 1px gray;
}
