.wizard-progress {
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;
}

.wizard-progress .step {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    overflow: visible;
    position: relative;
    font-size: 14px;
    color: #797979;
}

.wizard-progress .step.flat a {
    display: block;
}

.wizard-progress .step.flat:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
    top: -13px;
    visibility: hidden;
}

.btextDir-rtl .wizard-progress .step:not(:last-child):not(.flat):before {
  left: -48%;
}

.wizard-progress .step.flat.active:before {
    visibility: visible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.wizard-progress .step.flat.active a {
    color: black !important;
}

.wizard-progress .step a {
    color: #797979;
    display: inline-block;
    width: 98%;
    padding: 0;
    overflow: hidden;
    margin: 0 5px 0 5px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wizard-progress .step.active a {
    color: #01579b;
}

.wizard-progress .step:not(:last-child):not(.flat):before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 39px;
    background-color: #d2d2d2;
    height: 3px;
    width: 100%;
}

.wizard-progress .step .node {
    display: inline-block;
    border: 3px solid #d2d2d2;
    background-color: #fff;
    border-radius: 18px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -18px;
    cursor: pointer;
}

.wizard-progress .step.in-progress .node {
    border-color: #07c;
}

.wizard-progress .step.in-progress:not(.flat):before {
    background: #07c;
    background: -moz-linear-gradient(left, #07c 0%, #fff 100%);
    background: -webkit-linear-gradient(left, #07c 0%, #fff 100%);
    background: linear-gradient(to right, #07c 0%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07c', endColorstr='#fff', GradientType=1);
}

.wizard-progress .step.complete .node {
    border-color: #07c;
    background-color: #07c;
}

.wizard-progress .step.complete .node:not(.flat):before {
    font-family: 'Linearicons';
    content: "\e934";
    color: white;
    position: relative;
    top: 3px;
}

.wizard-progress .step.complete:not(.flat):before {
    background-color: #07c;
}

.wizard-progress.wizardRtl {
    direction: rtl;
}

.wizard-progress.wizardRtl .step:not(:last-child):before {
    right: 50%;
    left: auto;
}

.wizard-progress.wizardRtl .step.in-progress:before {
    background: -moz-linear-gradient(right, #07c 0%, #fff 100%);
    background: -webkit-linear-gradient(right, #07c 0%, #fff 100%);
    background: linear-gradient(to left, #07c 0%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07c', endColorstr='#fff', GradientType=1);
}

.progress_flat .wizard-progress {
    border: 1px solid #d4d4d4;
}

#wizardModal {
    width: 95vw;
    height: 80vh;
    max-height: 80vh;
}

.cancelButton {
    background: gray !important;
    margin-right: 10px !important;
}

.modal-footer button {
    text-transform: capitalize;
}

.marg0 {
    margin: 0 !important;
}

#wizarTypeSel .valign-wrapper {
    text-align: center;
    height: calc(100vh - 290px);
}

#wizarTypeSel a.iconAnchr {
    display: inline-block;
    margin: 0 10px;
    color: grey;
}

#wizarTypeSel a.iconAnchr span {
    font-size: 121px;
}

#wizarTypeSel a.iconAnchr:hover,
#wizarTypeSel a.iconAnchr:focus {
    color: #01579b;
    outline: 0;
}

#wizardBodyContent .valign-wrapper {
    text-align: center;
    height: calc(100vh - 300px);
}

div#wizardBodyContent {
    /*margin-top: 45px;*/
}

.wizardContainer {
    display: none;
}

.progress_vertical .wizard-progress .step {
    display: block;
    text-align: center;
    vertical-align: top;
    overflow: visible;
    position: relative;
    font-size: 14px;
    color: #797979;
    padding-top: 65%;
}

.progress_vertical .wizard-progress .step:not(:last-child):before {
    content: '';
    display: block;
    position: absolute;
    left: 44%;
    top: 54px;
    height: 100%;
    width: 5px;
}

.progress_vertical #wizardHeader {
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
}

.progress_vertical .wizard-progress {
    display: table;
    width: 100%;
    table-layout: inherit;
    position: relative;
    height: 65%;
}

.progress_vertical .wizard-progress .step a {
    transform: rotate(270deg) !important;
    right: 33px !important;
    position: relative !important;
    transform: rotate(270deg) !important;
    right: 28px !important;
    position: relative;
    width: 80px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    bottom: 27px !important;
}

.progress_vertical .wizard-progress .step.in-progress:before {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07c', endColorstr='#fff', GradientType=1);
}

@media (max-width: 780px) {
    .progress_vertical #wizardBodyFooterWrapper {
        width: 69vw !important;
    }
}

.progress_vertical #wizardHeader::-webkit-scrollbar {
    width: 2px !important;
}

.progress_vertical #wizardNextbtn {
    float: right !important;
}

.progress_vertical #wizardBodyContent {
    margin-left: 80px;
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}


/*# sourceMappingURL=wizardComp.css.map */
